:root{

  background-color: #f3f4f6;
}
a{
  text-decoration: none;
}
a:active{
  color: none;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.h-title{
  text-align: center;
}

section {
  margin: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
