:root{

  background-color: #f3f4f6;
}
a{
  text-decoration: none;
}
a:active{
  color: none;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}


.h-title{
  text-align: center;
}


section {
  margin: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* @media only screen and (max-width: 600px) {
  section {
    width:300px;
  }
} */