.p-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

@media only screen and (max-width: 1500px) {
  .p-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}


@media only screen and (max-width: 800px) {
  .p-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


@media only screen and (max-width: 600px) {
  .p-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}